@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(background1.jpg) no-repeat;
	background-size: cover;
	height: 120vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: #222222;
	/*background: rgba(0,0,0,0.4);*/
}
.navbar .logo{
	width: 250px;
	height: auto;
	margin-top:-18px;
	border-radius:25%;
	padding: 20px 50px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #ffb400;
	border-radius: 10px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
img{
	margin-top:-75px;
}
.center h1{
	
	color: rgb(241, 240, 240);
	
	text-shadow:0 0 3px #241e42, 0 0 10px #414153;
	font-size: 30px;
	font-family:"sans-serif";
	font-weight:bold;
	width: 900px;
	text-align: center;
	
}

.center .buttons{
	margin: 35px 280px;
	
}
.buttons button{
	height: 50px;
	width: 100px;
	font-size: 18px;
	font-weight: 600;
	color: #ffb3b3;
	background: red;
	outline: none;
	cursor: pointer;
	border: 1px solid yellow;
	border-radius: 50%;
	transition: .4s;
}
.buttons .btn2{
	margin-left: 100px;
	
	width:50px;
}
.buttons button:hover{
	background: #cc0000;
}
.razorpay-embed-btn{
	margin-top:-10px;
	border-radius:100%;
	
}
